bs4==0.0.2
exceptiongroup==1.2.0
importlib-metadata==7.0.1
ipykernel==6.29.0
pandas==2.1.4
pickleshare==0.7.5
pip-chill==1.0.3
pulp==2.8.0
pysocks==1.7.1
requests==2.31.0
selenium==4.17.2
numpy==1.21.4
